.inputForm { 
    background: rgb(1, 103, 1);
    border: 2px black solid;
    border-radius: 8px;
    margin: 8px auto;
    max-width: 65vw;;
  }

.input-label {
    color: white;
}

button {
    max-width: 15vw;
    max-height: 5vh;
    align-items: center;
}

