.inputForm { 
    background: rgb(0, 70, 0);
    border: 2px black solid;
    border-radius: 8px;
    margin: 8px auto;
    max-width: 65vw;
    box-shadow: 1px 10px 12px black;
  }

.input-label {
    color: white;
}

button {
    max-width: 15vw;
    max-height: 5vh;
    align-items: center;
}

.new-plant-form {
    display: flex;
    flex-wrap: wrap;
    margin: 5vh 5vw;

}